@font-face {
    font-family: 'MinEgendefinerteFont';
    src: url('/font/Queensides-3z7Ey.ttf') format('woff2'),
         url('/font/QueensidesLight-ZVj3l.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #100720;
    background-image: url('/bilder/background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'MinEgendefinerteFont', Arial, sans-serif; /* Bruker egendefinert font */
    background-color: rgba(71, 67, 67, 0.8); /* Gjør bakgrunnsfargen litt gjennomsiktig */
}

.menybar {
    display: flex;
    justify-content: center; /* Sentraliserer menybaren */
    align-items: center;
    background: #170a2c;
    padding: 5px;
    width: 100%; /* Sørger for at menybaren strekker seg over hele bredden */
    position: relative; /* Legger til posisjonering for ::after pseudo-elementet */
}

.menybar a {
    color: rgb(221, 217, 217);
    text-decoration: none; /* Fjerner understrek */
    padding: 5px; /* Rettet padding-verdi */
    display: block;
    text-align: center;
    transition: 0.1s;
    position: relative; /* Legger til posisjonering for ::after pseudo-elementet */
}

.menybar a::after {
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(165px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.menybar a:active {
    transform: scale(0.9) rotate(3deg); 
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1), rgba(2, 245, 255, 1));   
}

.menybar a:hover {
    background-color: #838181;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: rgba(71, 67, 67, 0.8); /* Gjør bakgrunnsfargen litt gjennomsiktig */
    padding: 10px;
    box-shadow: 0 0 0px rgb(165, 42, 42);
    border-radius: 0px;
    text-align: center;
    margin: auto; /* Sentraliserer containeren */
}

.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Holder elementet på toppen av siden */
}

h1, h2, h3, h4, h5, h6, p {
    color: aliceblue; /* Setter samme skriftfarge for alle <h> og <p> elementer */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.9em;
    }
}
