@font-face {
    font-family: 'MinEgendefinerteFont';
    src: url('font/Queensides-3z7Ey.ttf') format('woff2'),
         url('font/QueensidesLight-ZVj3l.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Fargevariabler */
:root {
    --primary-bg: #170d29;
    --secondary-bg: rgba(97, 95, 95, 0.5); /* Økt gjennomsiktighet ved å redusere alfa-verdien */
    --text-color: rgb(184, 185, 187);
    --link-color: rgba(238, 231, 231, 0.8);
    --hover-bg: #838181;
    --hover-color: black;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'MinEgendefinerteFont', Arial, sans-serif; /* Bruker egendefinert font */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Justerer innholdet til å starte fra toppen */
    align-items: center;
    height: 100vh; /* Sørger for at innholdet dekker hele høyden av vinduet */
}

.logo-container {
    margin-top: 20px; /* Justerer avstanden fra toppen */
}

.menybar {
    margin-top: 20px; /* Justerer avstanden fra logoen */
    display: flex;
    justify-content: center; /* Sentraliserer menybaren */
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Gjennomsiktig bakgrunn */
    border-radius: 20px;
    padding: 10px 20px;
}

.menybar a {
    color: var(--link-color);
    text-decoration: none; /* Fjerner understrek */
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.menybar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menybar .active {
    background-color: rgba(255, 255, 255, 0.2); /* Gjennomsiktig bakgrunn for aktivt element */
    color: black;
    position: relative;
}

.menybar .active::before {
    content: '•';
    color: pink;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    background-color: var(--secondary-bg); /* Gjør bakgrunnen litt gjennomsiktig */
    padding: 10px;
    box-shadow: 0 0 0px rgb(165, 42, 42);
    border-radius: 0px;
    text-align: center;
    margin: auto; /* Sentraliserer containeren */
}

.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Holder elementet på toppen av siden */
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color); /* Setter samme skriftfarge for alle <h> og <p> elementer */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.9em;
    }
}

.services-container {
    margin: 100px auto; /* Sentraliserer containeren horisontalt */
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.services-container img {
    width: 100px; /* Justert bredde */
    height: auto; /* Justert høyde */
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}

.services-container img:hover {
    width: 150px; /* Justert bredde ved hover */
}

/* Stil for modal */
.modal {
    display: none; /* Skjuler modal som standard */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Svart bakgrunn med gjennomsiktighet */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal img {
    width: 100%;
    height: auto;
}

/* Stil for navigasjonspiler */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
